.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 4px solid rgba(255, 255, 255, 0);
  border-bottom: 4px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 4px solid rgba(0, 0, 0, 0.5);
  border-bottom: 4px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 4px solid rgba(255, 255, 255, 0);
  border-right: 4px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 4px solid rgba(0, 0, 0, 0.5);
  border-right: 4px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.menuButton {
  marginRight: theme.spacing(2);
}
.title {
  flexGrow: 1;
}

.diagram {
  color: black;
  background-color: whitesmoke;
}

.nodeListHeader {

}

.nodeListItem_Math {
  flexGrow: 1;
  background-color:lightblue;
  color: black;
  padding: 5px;
  margin: 0px 10px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;  
  border: solid 2px black;
  border-radius: 5px;
  margin-bottom: 2px;
}

.nodeListItem_Edge {
  flexGrow: 1;
  background-color: lightslategray;
  color: black;
  margin: 0px 10px ;
  padding-top: 0px !important;
  padding-bottom: 0px !important;  
  border: solid 2px black;
  border-radius: 3px;
  margin-bottom: 2px;
}

.MuiListItem-root {
  padding-top: 0px;
  padding-bottom: 0px;
}

.MuiAccordionSummary-content.Mui-expanded {
  margin: 5px 0;
}

